body {
    font-family: "Roboto", sans-serif;
    background: url(../image/bg-repeat.jpg) center center;
    background-size: contain;
    display: flex;
    justify-content: center;
    font-size: 15px;
}

.container {
    width: 1440px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .info {
    color: #ffffff;
    width: 50%;
    padding-left: 30px;
}

.container .info h1 {
    font-size: 30px;
    font-weight: 900;
    margin-bottom: 11px;
}

.container .info .info-atendimento {
    font-weight: 400;
    font-size: 22px;
}

.formulario {
    background-color: #ffffff;
    width: 50%;
    height: 750px;
    padding: 40px;
    border-radius: 2px;
}

.campo-obrigatorio .preencher {
    list-style-type: none;
}

input, 
textarea {
    width: 100%;
    border: 1px solid #000000;
    border-radius: 5px;
    padding: 20px 10px 20px 10px;
    font-size: 24px;
    opacity: 0.5;
    font-weight: 700;
    margin: 5px 0 5px 0;
}

#mensagem {
    font-size: 24px;
    font-weight: 700;
    resize: none;
}

h2 {
    font-weight: 400;
}

.btn-button {
    margin-top: 30px;
    width: 100%;
    height: 70px;
    font-size: 25px;
    background-color: #3ccc87;
    cursor: pointer;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-weight: 700;
    opacity: unset;
}

.btn-button:hover {
    color:#000000;
    transition: 0.3 ease-in-out;
}


.campo-preenchido {
    border-color: #00c22b;
}

.campo-vazio {
    border-color: #f52e2e;
}

.obrigatorio {
    color: #f52e2e;
    font-size: 13px;
    opacity: 0;
}

.obrigatorio-visivel {
    opacity: 1;
}